.project
.settings/
jaxrs-server-integration/.classpath
jaxrs-server-integration/.project
jaxrs-server-integration/.settings/
jaxrs-server-integration/target/
server-integration/.classpath
server-integration/.project
server-integration/.settings/
server-integration/target/
tests-integration/.classpath
tests-integration/.project
tests-integration/.settings/
tests-integration/target/
